In [14]:
import numpy as np
import pandas as pd

# **<center><span style= "color:#2F539B;">Handling Outliers in data</span></center>**

## ***<span style= "color:maroon;">Contents </span>***
- ***`Imports`*** 
- **`use Z-score`** 
- **`Handling with scipy`**
- **`Handling with KMean clustring algo`**

In [15]:
data = pd.DataFrame({'age': [20,21,22,23,24,25,26,27,28,29,30,50]})

In [16]:
data

    age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [17]:
mean = np.mean(data['age'])
std = np.std(data['age'])

data['Z-score'] = (data['age'] - mean) / std

In [18]:
data

    age   Z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

In [19]:
data = data[data['Z-score'] <= 3]

In [20]:
data

    age   Z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

In [ ]:
# use the scipy 
from scipy import stats

#sample data
data = [2.5,2.7,2.8,3.0,3.0,3.2,3.4,3.6,3.8,4.0,110.0]

z_score = np.abs(stats.zscore(data))

threshold = 2.5
outliers = np.where(z_score > threshold)[0]

In [21]:
# use sk_learn
from sklearn.cluster import KMeans

data = [[2,2],[3,3],[3,4],[30,30],[31,31],[32,32]]

kmeans = KMeans(n_clusters=2, n_init=10)
kmeans.fit(data)

labels = kmeans.predict(data)

data = [data[i] for i, label in enumerate(labels) if label ==0]

In [22]:
data

[[2, 2], [3, 3], [3, 4]]