# **<center><span style= "color:#6495ED;">Boosting Techniques</span></center>**

In [1]:
!pip install catboost -q

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\shera\anaconda3\envs\python_ml\Lib\site-packages\~umpy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\shera\anaconda3\envs\python_ml\Lib\site-packages\~umpy'.
  You can safely remove it manually.

In [11]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [12]:
# load the dataset
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [13]:
# check for missing values
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [15]:
# encode the categorical and object columns using for loop
le = LabelEncoder()

for col in df.select_dtypes(include=['object','category']).columns:
    df[col] = le.fit_transform(df[col].astype(str))

df.head()

   survived  pclass  sex   age  ...  deck  embark_town  alive  alone
0         0       3    1  22.0  ...     7            2      0  False
1         1       1    0  38.0  ...     2            0      1  False
2         1       3    0  26.0  ...     7            2      1   True
3         1       1    0  35.0  ...     2            2      1  False
4         0       3    1  35.0  ...     7            2      0   True

[5 rows x 15 columns]

In [16]:
# impute missing values 
imputer = KNNImputer(n_neighbors=5)

df['age'] = imputer.fit_transform(df[['age']])
df['deck'] = imputer.fit_transform(df[['deck']])
df['embark_town'] = imputer.fit_transform(df[['embark_town']])
df['embarked'] = imputer.fit_transform(df[['embarked']])

df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [17]:
df.dtypes

survived         int64
pclass           int64
sex              int32
age            float64
sibsp            int64
parch            int64
fare           float64
embarked       float64
class            int32
who              int32
adult_male        bool
deck           float64
embark_town    float64
alive            int32
alone             bool
dtype: object