# **<center><span style= "color:#2F539B;">Standard scaling</span></center>**

In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

In [3]:
# datasets 
data = { 
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}
df = pd.DataFrame(data)

In [4]:
df

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

# standard scaler

In [ ]:
std_scaler = StandardScaler()

scaled_data = std_scaler.fit_transform(df)

In [8]:
scaled_data

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

In [9]:
# convert this scaled df into data frame
scaled_df = pd.DataFrame(data=scaled_data, columns=df.columns)
scaled_df

        age    height    weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

# minmax scaler

In [12]:
# datasets 
data = { 
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}
df = pd.DataFrame(data)

In [14]:
minmax_scaler = MinMaxScaler()

MMscaled_data = minmax_scaler.fit_transform(df)

MMscaled_df = pd.DataFrame(data=MMscaled_data, columns=df.columns)

MMscaled_df

    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

# max abs scaler

In [15]:
# datasets 
data = { 
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}
df = pd.DataFrame(data)

In [16]:
maxabs_scaler = MaxAbsScaler()

maxabs_scaled_data = maxabs_scaler.fit_transform(df)

maxabs_scaled_df = pd.DataFrame(data=maxabs_scaled_data, columns=df.columns)

maxabs_scaled_df

        age    height    weight
0  0.555556  0.891892  0.733333
1  0.666667  0.918919  0.800000
2  0.777778  0.945946  0.866667
3  0.888889  0.972973  0.933333
4  1.000000  1.000000  1.000000

# robust scaler

In [18]:
# datasets 
data = { 
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}
df = pd.DataFrame(data)

In [20]:
robust_scaler = RobustScaler()

robust_scaled_data = robust_scaler.fit_transform(df)

robust_scaled_df = pd.DataFrame(data=robust_scaled_data, columns= df.columns)

robust_scaled_df

   age  height  weight
0 -1.0    -1.0    -1.0
1 -0.5    -0.5    -0.5
2  0.0     0.0     0.0
3  0.5     0.5     0.5
4  1.0     1.0     1.0